body{background-color: orange;}

h1{color:#purple;
font-family:Impact;
font-size: 44px;
background-color: #7ab8e4;
text-align: center;}

p{color:#F3F3F3; font-family: Impact; font-size: 23px;}

a{text-decoration: none;
color:#161616;
font-family:Impact;
font-size: 22px; }

img{
	display: block;
	margin: auto;
	border-style: double;
	border-width: 3px;
	border-color: #F6F9D3;
}

a:hover{
	font-family: Impact;
	font-size:28px;
}

li{list-style: none;
	float: center;
	padding:2px;
	background-color: orangered;
	border-style: double;

ul{display: inline-block;}
}